@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

body {
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
@media (min-width: 0) and (max-width: 768px) {
  .container {
    padding: 0 24px;
  }
}

.container-fluid {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-just-s-b {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* Colors */
h1 {
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 49.5px */
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #edeef7;
}

.text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%; /* 15.4px */
}

.btn {
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;
  border-radius: 5px;
  line-height: 160%; /* 25.6px */
  cursor: pointer;
}

.cta-text {
  color: #2dbaee;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.selector {
  display: inline-flex;
  align-items: center;
  height: 32px;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid #d8ddef;
  padding: 8px 12px;
  cursor: pointer;
}
.selector .icon {
  width: 12px;
  height: 12px;
  background-image: url("/assets/img/icon-calendar.svg");
  background-repeat: no-repeat;
}
.selector .text {
  font-weight: 700;
}
.selector .arrow {
  width: 6px;
  height: 5px;
  background-image: url("/assets/img/arrow.svg");
  background-repeat: no-repeat;
}

.input-group {
  display: inline-flex;
}
.input-group .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-image: url("/assets/img/pi-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #d8ddef;
  border-radius: 4px 0px 0px 4px;
}
.input-group input {
  height: 32px;
  border: 1px solid #d8ddef;
  border-left: none;
  padding: 7px 0 8px 0;
  border-radius: 0px 4px 4px 0px;
}

.connector {
  display: flex;
  flex-direction: column;
  width: 8px;
  height: calc(100% + 8px);
}
.connector span {
  position: relative;
  background-color: #d8ddef;
}
.connector .line-1 {
  width: 8px;
  height: 1px;
}
.connector .line-2 {
  left: 3px;
  width: 1px;
  height: 100%;
}
.connector .line-3 {
  left: 3px;
  width: 4px;
  height: 1px;
}

/* Colors */
body > * {
  font-family: "Inter", sans-serif;
}

.conqueror-app .header .top {
  background-color: #e0c26b;
}
.conqueror-app .header .top div {
  position: relative;
  text-align: center;
}
.conqueror-app .header .top div::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 120px;
  background-image: url(/assets/img/logo.svg);
  background-repeat: no-repeat;
  z-index: 1000;
}
@media (min-width: 0) and (max-width: 768px) {
  .conqueror-app .header .top div::before {
    display: none;
  }
}
.conqueror-app .header .top div p {
  padding: 10px 0;
}
.conqueror-app .header .navigation {
  background-color: #000;
}
.conqueror-app .header .navigation > div {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.conqueror-app .header .navigation > div .nav-menu {
  display: flex;
  width: 100%;
}
@media (min-width: 0) and (max-width: 768px) {
  .conqueror-app .header .navigation > div .nav-menu {
    flex-direction: column;
  }
  .conqueror-app .header .navigation > div .nav-menu > * {
    flex: 1;
  }
}
.conqueror-app .header .navigation > div .nav-menu .menu {
  display: flex;
  gap: 35px;
}
@media (min-width: 0) and (max-width: 768px) {
  .conqueror-app .header .navigation > div .nav-menu .menu {
    display: none;
    order: 2;
  }
  .conqueror-app .header .navigation > div .nav-menu .menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
}
.conqueror-app .header .navigation > div .nav-menu .menu a {
  font-size: 16px;
  color: #fff;
  line-height: 23px; /* 143.75% */
  padding: 21px 0;
}
.conqueror-app .header .navigation > div .nav-menu .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  gap: 35px;
}
@media (min-width: 0) and (max-width: 768px) {
  .conqueror-app .header .navigation > div .nav-menu .icons {
    order: 1;
    align-self: end;
  }
}
.conqueror-app .header .navigation > div .nav-menu .icons img {
  width: 25px;
}
.conqueror-app .header .navigation > div .nav-menu .icons a {
  padding: 21px 0;
}
.conqueror-app .all-challenges {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
}
.conqueror-app .all-challenges .title {
  margin-top: 19px;
}
.conqueror-app .all-challenges .title h1 {
  text-align: center;
  padding: 10px 0 20px 0;
}
.conqueror-app .all-challenges .filters {
  position: relative;
  align-self: flex-end;
  margin-bottom: 40px;
  z-index: 10;
}
.conqueror-app .all-challenges .filters select {
  width: 197px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  background: #fff;
  padding: 13px 15px;
}
.conqueror-app .all-challenges #challenges-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 19px;
}
@media (min-width: 0) and (max-width: 768px) {
  .conqueror-app .all-challenges #challenges-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.conqueror-app .all-challenges #challenges-grid .card {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 203px;
  border-radius: 5px;
  border: 1px solid #d4d4d4;
  padding: 15px;
  margin-top: 18px;
  z-index: 1;
}
@media (min-width: 0) and (max-width: 768px) {
  .conqueror-app .all-challenges #challenges-grid .card {
    width: 100%;
  }
}
.conqueror-app .all-challenges #challenges-grid .card > div {
  flex: 1;
}
.conqueror-app .all-challenges #challenges-grid .card .image {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}
.conqueror-app .all-challenges #challenges-grid .card .image .medal {
  width: 100%;
  margin-top: -65px;
}
@media (min-width: 0) and (max-width: 768px) {
  .conqueror-app .all-challenges #challenges-grid .card .image .medal {
    width: 100%;
  }
}
.conqueror-app .all-challenges #challenges-grid .card .image .medal img {
  position: relative;
  max-width: 100%;
  height: 100%;
  z-index: 1000;
}
.conqueror-app .all-challenges #challenges-grid .card .image .medal img::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 146px;
  background: radial-gradient(50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0.416667) 41.67%, rgba(0, 0, 0, 0) 100%);
  background-position: center;
  z-index: 1;
}
.conqueror-app .all-challenges #challenges-grid .card .title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  line-height: 120%; /* 21.6px */
}
.conqueror-app .all-challenges #challenges-grid .card .details-group {
  padding: 12px 0;
}
.conqueror-app .all-challenges #challenges-grid .card .details-group p {
  color: #323232;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 160%; /* 22.4px */
}
.conqueror-app .all-challenges #challenges-grid .card .details-group .distance {
  color: #323232;
  font-weight: 500;
  padding-bottom: 17.5px;
}
.conqueror-app .all-challenges #challenges-grid .card .buy-btn {
  display: flex;
  width: 100%;
  max-width: 174px;
  height: 44px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #000;
  border-radius: 5px;
  line-height: 160%; /* 25.6px */
  cursor: pointer;
}
.conqueror-app .all-challenges .to-cart {
  display: flex;
  margin: 24px auto;
}
.conqueror-app .all-challenges .to-cart .btn {
  min-width: 300px;
  background: transparent;
  border: 1px solid #262626;
  color: #000;
}
.conqueror-app .newsletter {
  width: 100%;
  background: #262626;
}
.conqueror-app .newsletter .wrapper {
  display: flex;
  width: 100%;
  height: 87px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  gap: 16px;
}
@media (min-width: 0) and (max-width: 768px) {
  .conqueror-app .newsletter .wrapper {
    flex-direction: column;
    height: auto;
  }
}
.conqueror-app .newsletter .wrapper p {
  color: #fff;
  font-size: 18px;
  line-height: 160%; /* 28.8px */
}
.conqueror-app .newsletter .wrapper form {
  display: flex;
  gap: 13px;
}
.conqueror-app .newsletter .wrapper form > * {
  border: none;
}
.conqueror-app .newsletter .wrapper form input {
  display: flex;
  width: 262px;
  padding: 10px;
  border-radius: 5px;
  gap: 10px;
}
@media (min-width: 0) and (max-width: 768px) {
  .conqueror-app .newsletter .wrapper form input {
    width: 200px;
  }
}
.conqueror-app .newsletter .wrapper form button {
  display: flex;
  width: 125px;
  height: 42px;
  background: #d7be69;
  justify-content: center;
  align-items: center;
  border-radius: 7.229px;
  cursor: pointer;
}
.conqueror-app .footer {
  background: #000;
  padding-bottom: 60px;
}
.conqueror-app .footer div {
  display: flex;
}
@media (min-width: 0) and (max-width: 768px) {
  .conqueror-app .footer div {
    flex-direction: column;
    align-items: center;
  }
}
.conqueror-app .footer div .col {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 34px;
}
.conqueror-app .footer div .col .f-logo {
  width: 100px;
  height: 151px;
}
.conqueror-app .footer div .col .name {
  color: #d7be69;
  font-size: 18px;
  font-weight: 700;
  line-height: 160%; /* 28.8px */
  margin-bottom: 10px;
}
.conqueror-app .footer div .col .nav-menu-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.conqueror-app .footer div .col .nav-menu-column a {
  font-size: 14px;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
}
.conqueror-app .summary {
  padding-top: 80px;
}
.conqueror-app .summary h2 {
  text-align: center;
  padding-bottom: 24px;
}
.conqueror-app .summary table {
  width: 100%;
  border-collapse: collapse;
}
.conqueror-app .summary th,
.conqueror-app .summary td {
  border: 1px solid #d4d4d4;
  padding: 8px;
  text-align: left;
  border-radius: 5px;
}
.conqueror-app .summary .total-row {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */