@import "base";
@import "grid";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");
@import "elements";
@import "variables";
@import "mixins";
body > * {
  font-family: "Inter", sans-serif;
}
.conqueror-app {
  .header {
    .top {
      background-color: #e0c26b;
      div {
        position: relative;
        text-align: center;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100px;
          height: 120px;
          background-image: url(/assets/img/logo.svg);
          background-repeat: no-repeat;
          z-index: 1000;
          @include respond-to(medium) {
            display: none;
          }
        }
        p {
          padding: 10px 0;
        }
      }
    }
    .navigation {
      background-color: #000;
      & > div {
        display: flex;
        width: 100%;
        justify-content: flex-end;
        .nav-menu {
          position: relative;
          display: flex;
          width: 100%;
          justify-content: flex-end;
          @include respond-to(medium) {
            flex-direction: column;
            & > * {
              flex: 1;
            }
          }
          .menu {
            display: flex;
            gap: 35px;
            @include respond-to(medium) {
              display: none;
              order: 2;
              &.active {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px 0;
              }
            }
            a {
              font-size: 16px;
              color: #fff;
              line-height: 23px; /* 143.75% */
              padding: 21px 0;
            }
          }
          .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 35px;
            gap: 10px;

            @include respond-to(medium) {
              order: 1;
              align-self: end;
            }

            #hamburger-menu {
              display: none;
              @include respond-to(medium) {
                display: block;
              }
            }

            a.cart-btn {
              padding: 21px 0;
              img {
                width: 25px;
              }
              #count_cart {
                position: relative;
                bottom: 17px;
                display: none;
                justify-content: center;
                height: 25px;
                width: 25px;
                color: #fff;
                background: red;
                align-items: center;
                border-radius: 50px;
                padding: 4px;
                &.active {
                  display: inline-flex;
                }
              }
            }
          }
          .cart-preview {
            &.active {
              display: flex !important;
            }
            display: none;
            position: absolute;
            top: 85px;
            right: 10px;
            min-width: 180px;
            flex-direction: column;
            background: #fff;
            border: 1px solid silver;
            padding: 13px;
            border-radius: 5px;
            gap: 20px;
            z-index: 1000;
          }
        }
      }
    }
  }
  .all-challenges {
    display: flex;
    flex-direction: column;
    margin-bottom: 58px;
    .title {
      margin-top: 19px;
      h1 {
        text-align: center;
        padding: 10px 0 20px 0;
      }
    }

    .filters {
      position: relative;
      align-self: flex-end;
      margin-bottom: 40px;
      z-index: 10;
      select {
        width: 197px;
        border-radius: 5px;
        border: 1px solid #bdbdbd;
        background: #fff;
        padding: 13px 15px;
      }
    }
    #challenges-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 19px;
      @include respond-to(medium) {
        grid-template-columns: 1fr 1fr;
      }

      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 203px;
        border-radius: 5px;
        border: 1px solid #d4d4d4;
        padding: 15px;
        margin-top: 18px;
        z-index: 1;
        @include respond-to(medium) {
          width: 100%;
        }

        & > div {
          flex: 1;
        }
        .image {
          display: flex;
          flex-direction: column;
          align-items: center;
          border-radius: 5px;

          .medal {
            width: 100%;
            margin-top: -65px;
            @include respond-to(medium) {
              width: 100%;
            }
            img {
              position: relative;
              max-width: 100%;
              height: 200px;
              z-index: 1000;
              @include respond-to(medium) {
                height: 100%;
              }
              &::after {
                content: "";
                position: absolute;
                bottom: 0;
                display: block;
                width: 100%;
                height: 146px;
                background: radial-gradient(
                  50% 50% at 50% 50%,
                  #000000 0%,
                  rgba(0, 0, 0, 0.416667) 41.67%,
                  rgba(0, 0, 0, 0) 100%
                );
                background-position: center;
                z-index: 1;
              }
            }
          }
        }
        .title {
          font-size: 18px;
          font-weight: 700;
          text-align: center;
          line-height: 120%; /* 21.6px */
        }
        .details-group {
          padding: 12px 0;
          & p {
            color: #323232;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            line-height: 160%; /* 22.4px */
          }
          .distance {
            color: #323232;
            font-weight: 500;
            padding-bottom: 17.5px;
          }
        }
        .buy-btn {
          display: flex;
          width: 100%;
          max-width: 174px;
          height: 44px;
          font-size: 16px;
          font-weight: 700;
          color: #fff;
          justify-content: center;
          align-items: center;
          gap: 10px;
          background: #000;
          border-radius: 5px;
          line-height: 160%; /* 25.6px */
          cursor: pointer;
        }
      }
    }
    .to-cart {
      display: flex;
      margin: 24px auto;
      .btn {
        min-width: 300px;
        background: transparent;
        border: 1px solid #262626;
        color: #000;
      }
    }
  }

  .newsletter {
    width: 100%;

    background: #262626;
    .wrapper {
      display: flex;
      width: 100%;
      height: 87px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 16px 0;
      gap: 16px;
      @include respond-to(medium) {
        flex-direction: column;
        height: auto;
      }
      p {
        color: #fff;
        font-size: 18px;
        line-height: 160%; /* 28.8px */
      }
      form {
        display: flex;
        gap: 13px;
        & > * {
          border: none;
        }
        @include respond-to(medium) {
        }
        input {
          display: flex;
          width: 262px;
          padding: 10px;
          border-radius: 5px;
          gap: 10px;
          @include respond-to(medium) {
            width: 200px;
          }
        }
        button {
          display: flex;
          width: 125px;
          height: 42px;
          background: #d7be69;
          justify-content: center;
          align-items: center;
          border-radius: 7.229px;
          cursor: pointer;
        }
      }
    }
  }
  .footer {
    background: #000;
    padding-bottom: 60px;
    div {
      display: flex;
      @include respond-to(medium) {
        flex-direction: column;
        align-items: center;
      }
      .col {
        flex: 1;
        display: flex;
        flex-direction: column;
        color: #fff;
        margin-top: 34px;
        .f-logo {
          width: 100px;
          height: 151px;
        }
        .name {
          color: #d7be69;
          font-size: 18px;
          font-weight: 700;
          line-height: 160%; /* 28.8px */
          margin-bottom: 10px;
        }
        .nav-menu-column {
          display: flex;
          flex-direction: column;
          gap: 10px;
          a {
            font-size: 14px;
            color: #fff;
            font-style: normal;
            font-weight: 400;
            line-height: 160%; /* 22.4px */
          }
        }
      }
    }
  }
  .summary {
    padding: 50px 0;
    h2 {
      text-align: center;
      padding-bottom: 24px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }
    th,
    td {
      border: 1px solid #d4d4d4;
      padding: 8px;
      text-align: left;
      border-radius: 5px;
    }
    th {
    }
    .total-row {
      font-weight: bold;
    }
  }
}
